@{
    ViewData["Title"] = "MADWORDS";

    var random = new Random();
    string[] write = { "Write", "Scribble", "Create", "Compose", "Sling", "Shoot", "Journal", "Ink", "Jot down", "Sign", "Scrawl" };
    string writeTitle = write[random.Next(write.Length)];

    ViewData["Create"] = writeTitle + " some MADWORD";
}

<div class="text-center">
    <h1 class="pt-4">Welcome to MADWORDS</h1>
    <p class="lead p-4">The website that lets you make crazy stories. Have fun reading others peoples MADWORDS or create your own! Just enter in the types of words the game asks for and when you're all done hit submit.</p>
    <br />
    <p><a class="nav-link text-white btn btn-primary btn-lg" asp-area="" asp-controller="Madword" asp-action="Create">Make your own MADWORD</a></p>
    <p><a class="nav-link text-white btn btn-primary btn-lg" asp-area="" asp-controller="Madword" asp-action="Index">Read other peoples MADWORDS</a></p>
</div>